<%- include('../partials/adminHeader') %>

    <!-- main -->

    <main class="container d-flex flex-wrap p-5 g-5">
        <div class="col-md-3 mb-3 border border-rounded border-left-0">
            <h3 class="text-center">Admin</h3>
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link " href="/">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/admin/category">Category</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/admin/products">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/users">Manage Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#admin/">Coupons</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/manageOrders">Orders</a>
                  </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/logout">Logout</a>
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="container ">
                <div class="m-5 p-5 d-flex justify-content-center border border-secondary rounded">
                    <form class="row g-3" action="/admin/addProducts" method="POST" enctype="multipart/form-data" onsubmit="return validateForm()">
                        <h3 class="text-center">Add Products !</h3>
                        <div class="col-md-12">
                            <label for="inputEmail4" class="form-label">Name</label>
                            <input class="form-control" id="inputEmail4" required name="name">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Description</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" required
                                name="description"></textarea>
                        </div>
                        <div class="col-md-12">
                            <label for="inputEmail4" class="form-label">Rating</label>
                            <input class="form-control" id="inputEmail4" required name="rating">
                        </div>
                        <div class="col-md-12">
                            <div class="col-12">
                                <label for="inputPassword" class="form-label">Rate</label>
                                <input type="text" class="form-control" id="inputPassword" placeholder="*******"
                                    required name="rate">
                            </div>
                            <div class="col-md-12">

                            </div>
                            <div class="form-check my-3 p-0">
                                <!-- Example split danger button -->
                                <label for="inputPassword" class="form-label">Category</label>
                                <select class="form-select" aria-label="Default select example" name="category">
                                    <% data.forEach(category=> { %>
                                        <option value="<%=category.id%>">
                                            <%=category.name%>
                                        </option>
                                        <% }) %>
                                </select>
                            </div>
                        </div>
                        <div>
                        </div>
                        <div class="col-md-12">
                            <label for="inputImage4" class="form-label">Images</label>
                            <input type="file" class="form-control-file" id="images"
                            accept="image/*" name="images" required multiple>
                        </div>

                        <div class="col-md-4">
                            <div class="card">
                                 <div class="card-body">
                                      <h5>Images Preview</h5>
                                      <div class="image-container" style="width: 150px;">
                                           <!-- Image previews  -->
                                      </div>
                                 </div>
                            </div>
                       </div>

                        <div class="col-12">
                            <button type="submit" class="btn btn-primary w-100">Add Products</button>
                        </div>
                    </form>
    </main>

    <script>
        const imageContainer = document.querySelector('.image-container');
        const imageInput = document.querySelector('#images');

        imageInput.addEventListener('change', (event) => {
             const files = event.target.files;

             for (const file of files) {
                  if (['image/jpeg', 'image/png', 'image/webp', 'image/gif'].includes(file.type) || ['image/jpeg', 'image/png', 'image/webp', 'image/gif'].includes(file.type.split('/')[0] + '/' + file.type.split('/')[1].split('.')[1])) {
                       const image = new Image();
                       image.src = URL.createObjectURL(file);

                       image.onload = () => {
                            const imageElement = document.createElement('div');
                            imageElement.classList.add('image-element');
                            imageElement.style.height = '150px';
                            imageElement.style.width = '150px';
                            imageElement.style.position = 'relative';

                            const imageWrapper = document.createElement('img');
                            imageWrapper.classList.add('img-fluid', 'img-thumbnail');
                            imageWrapper.style.height = '100%';
                            imageWrapper.style.width = '100%';
                            imageWrapper.style.objectFit = 'contain';
                            imageWrapper.src = image.src;

                            imageElement.appendChild(imageWrapper);

                            const deleteButton = document.createElement('button');
                            deleteButton.classList.add('btn', 'btn-danger', 'btn-sm', 'delete-button');
                            deleteButton.innerHTML = '<i class="fa fa-trash-alt text-lg"></i>';
                            deleteButton.style.position = 'absolute';
                            deleteButton.style.top = '0';
                            deleteButton.style.right = '0';

                            imageElement.appendChild(deleteButton);

                            imageContainer.appendChild(imageElement);

                            deleteButton.addEventListener('click', () => {
                                 imageElement.remove();
                            });
                       };
                  }
             }
        });
   </script>


    <script>
        function validateForm() {
            const email = document.querySelector('[name="email"]');
            const password = document.querySelector('[name="password"]');
            const description = document.querySelector('[name="description"]');
            const category = document.querySelector('[name="category"]');
            const rating = document.querySelector('[name="rating"]');
            const rate = document.querySelector('[name="rate"]');
            // console.log(email, password)

            // Check if any field is empty or contains only whitespace
            if (!name.value.trim() || !description.value.trim() || !rating.value.trim() || !rate.value.trim() || !category.value.trim()) {
                Swal.fire({
                    title: 'Warning!',
                    text: 'All fields are necessary',
                    icon: 'error',
                    confirmButton: 'Cool'
                })
                return false;
            } else if (rate < 1 || rate > 10000) {
                Swal.fire({
                    title: 'Error!',
                    text: 'Check rate Credentials !',
                    icon: 'error',
                    confirmButton: 'Ok'
                })
                return false;
            }
            else if (description.value.trim().split('').length >100 || description.value.trim().split('').length < 5) {
                Swal.fire({
                    title: 'Error!',
                    text: 'Check rate Credentials !',
                    icon: 'error',
                    confirmButton: 'Ok'
                })
                return false;
            }
            else if (rating < 1 || rating > 11) {
                Swal.fire({
                    title: 'Error!',
                    text: 'Check rating Credentials !',
                    icon: 'error',
                    confirmButton: 'Ok'
                })
                return false;
            }
            return true;
        }
    </script>


    <%- include('../partials/footer') %>