<%- include('../partials/adminHeader') %>

  <main class="">
    <div class="container ">
      <section class="vh-100">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center ">
            <div class="col col-xl-10">
              <div class="card" style="border-radius: 1rem;">
                <div class="row g-0">
                  <div class="col-md-6 col-lg-5 d-none d-md-block">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                      alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                  </div>
                  <div class="col-md-6 col-lg-7 d-flex align-items-center">
                    <div class="card-body p-4 p-lg-5 text-black">

                      <form action="/admin/login" method="POST" onsubmit="return validateForm()">

                        <div class="d-flex align-items-center mb-3 pb-1">
                          <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                          <span class="h1 fw-bold mb-0">Hi Admin</span>
                        </div>

                        <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>
                        <div data-mdb-input-init class="form-outline mb-4">
                          <input type="email" name="email" id="form2Example17" class="form-control form-control-lg" />
                          <label class="form-label" for="form2Example17">Email address</label>
                        </div>

                        <div data-mdb-input-init class="form-outline mb-4">
                          <input type="password" id="form2Example27" class="form-control form-control-lg"
                            name="password" />
                          <label class="form-label" for="form2Example27">Password</label>
                        </div>

                        <div class="pt-1 mb-4">
                          <button type="submit" class="btn btn-dark btn-lg w-100 mb-2">
                            Login
                          </button>
                        </div>


                        <a href="#!" class="small text-muted">Privacy policy</a>
                      </form>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

  <script>

    const urlParams = new URLSearchParams(window.location.search);
    const message = urlParams.get('msg'); // Change 'message' to 'msg'
    if (typeof message !== 'undefined') {
      if (message.includes('invalid')) {
        Swal.fire({
          title: "invalid",
          text: "Wrong password!",
          icon: "error",
          confirmButtonText: 'OK'
        });
        window.history.replaceState({}, document.title, window.location.pathname);
      } else if (message.includes('email')) {
        Swal.fire({
          title: "Failure",
          text: "Email/ User not found!",
          icon: "error",
          confirmButtonText: 'OK'
        });
        window.history.replaceState({}, document.title, window.location.pathname);
      } else if (message.includes('sessionExpired')) {
        Swal.fire({
          title: "Failure",
          text: "Session Expired. Login again!",
          icon: "error",
          confirmButtonText: 'OK'
        });
        window.history.replaceState({}, document.title, window.location.pathname);
      }
    }
  </script>

  <script>
    function validateForm() {
      const email = document.querySelector('[name="email"]');
      const password = document.querySelector('[name="password"]');
      // console.log(email, password)

      // Check if any field is empty or contains only whitespace
      if (!email.value.trim() || !password.value.trim()) {
        Swal.fire({
          title: 'Error!',
          text: 'All fields are necessary',
          icon: 'error',
          confirmButton: 'Cool'
        })
        return false;
      } else if (password.value.split('').length < 8 || password.value.split('').length > 10) {
        Swal.fire({
          title: 'Error!',
          text: 'Check Passowrd Credentials !',
          icon: 'error',
          confirmButton: 'Ok'
        })
        return false;
      }
      return true;
    }
  </script>

  <%- include('../partials/footer') %>